@bg: #F4F4F4;
@body: #4D4D4D;
@nav: #F4F4F4;
@nav: #242827;
@nav_hover: #15A112;
@nav_text: #CCCCCC;
@nav_text: #CCCCCC;
@nav_text: #CCCCCC;
@h2: #15A112;
@highlight: #F4F4F4;
@highlight_hover: #15A112;
@highlight_text: #999999;
@highlight_text_hover: #15A112;
@list: #fff;
@list: #F2F2F2;
@meta: #AAAAAA;
@page_navi: #333;


.rounded-corners (@radius: 5px) {
  border-radius: @radius;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
}

#header {
  .rounded-corners;
}
