/*
@name: Hebe - 价值传媒技术中心
@author:Andy Huang(andyahung@geekpark.net)
*/
/* HTML5 ✰ Boilerplate */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
body {
  font-family: "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti !important;
}
body {
  font: 13px/1.231 sans-serif;
  *font-size: small;
}
select,
input,
textarea,
button {
  font: 99% sans-serif;
}
pre,
code,
kbd,
samp {
  font-family: monospace, sans-serif;
}
html {
  overflow-y: auto;
}
a:hover,
a:active {
  outline: none;
}
ul,
ol {
  margin: 0;
}
ol {
  list-style-type: decimal;
}
li {
  list-style: none;
}
nav ul,
nav li {
  margin: 0;
  list-style: none;
  list-style-image: none;
}
small {
  font-size: 85%;
  font-size: 12px;
}
strong,
th {
  font-weight: bold;
}
td {
  vertical-align: top;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 15px;
}
textarea {
  overflow: auto;
}
.ie6 legend,
.ie7 legend {
  margin-left: -7px;
}
input[type="radio"] {
  vertical-align: text-bottom;
}
input[type="checkbox"] {
  vertical-align: bottom;
}
.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}
.ie6 input {
  vertical-align: text-bottom;
}
label,
input[type="button"],
input[type="submit"],
input[type="image"],
button {
  cursor: pointer;
}
button,
input,
select,
textarea {
  margin: 0;
}
input:invalid,
textarea:invalid {
  border-radius: 1px;
  -moz-box-shadow: 0px 0px 5px red;
  -webkit-box-shadow: 0px 0px 5px red;
  box-shadow: 0px 0px 5px red;
}
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid {
  background-color: #f0dddd;
}
a:link {
  -webkit-tap-highlight-color: #FF5E99;
}
button {
  width: auto;
  overflow: visible;
}
.ie7 img {
  -ms-interpolation-mode: bicubic;
}
body,
select,
input,
textarea {
  color: #444;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}
.clearfix:before,
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}
body {
  font-size: 12px;
  font-family: "宋体";
  width: 960px;
  margin: 0 auto;
  background-color: #f4f4f4;
}
h2,
h3,
h4 {
  color: #15a112;
  font-size: 14px;
}
a {
  text-decoration: none;
  color: #4d4d4d;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}
a :hover {
  text-decoration: none;
  color: #15a112;
}
a span {
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}
input {
  outline: none;
}
.icons {
  background-image: url(images/sprite.png);
  background-repeat: no-repeat;
}
.logo {
  background-position: 0px 0px;
  display: inline-block;
  width: 235px;
  height: 36px;
}
.header {
  margin: 30px 0 10px;
}
.header .top-box {
  position: relative;
  height: 37px;
  margin-bottom: 13px;
}
.header .top-box h1 .logo {
  margin: 0;
  text-indent: -999px;
  position: absolute;
  left: 0;
  bottom: 0;
}
.header .top-box form#searchform {
  position: absolute;
  right: 0;
  bottom: 0;
}
.header .top-box form#searchform input[type="text"] {
  color: #7F7F7F;
  background-color: #e0e0e0;
  border: none;
  font-size: 12px;
  line-height: 12px;
  height: 18px;
  width: 240px;
  padding: 4px 10px;
}
.header .top-box form#searchform input[type="submit"] {
  margin-left: 5px;
  background-color: transparent;
  border: none;
  background-position: -304px 0px;
  text-indent: -999px;
  width: 16px;
  height: 16px;
}
.header .menu {
  background-color: #242827;
  overflow: hidden;
  margin-bottom: 15px;
}
.header .menu ul {
  overflow: hidden;
}
.header .menu ul li {
  float: left;
}
.header .menu ul li span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  line-height: 14px;
  padding: 13px 20px;
}
.header .menu ul li span:hover,
.header .menu ul li span.current {
  background-color: #15a112;
}
.header .menu ul li.login-item {
  float: right;
}
.breadcrumb {
  margin-bottom: 15px;
}
.breadcrumb ul {
  overflow: hidden;
}
.breadcrumb ul li {
  float: left;
  line-height: 12px;
  height: 12px;
}
.breadcrumb ul li span {
  display: block;
  background-position: right -67px;
  margin-right: 7px;
  padding-right: 11px;
  font-size: 12px;
  line-height: 12px;
}
.breadcrumb ul li a {
  color: #4d4d4d;
}
.breadcrumb ul li a:hover {
  color: #15a112;
}
.breadcrumb ul li.home {
  position: relative;
}
.breadcrumb ul li.home span {
  height: 12px;
  text-indent: 999px;
  display: inline-block;
  width: 10px;
}
.breadcrumb ul li.home i {
  background-position: 0 -48px;
  display: inline-block;
  height: 10px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 10px;
}
.breadcrumb ul li.current a {
  color: #15a112;
}
.breadcrumb ul li:last-child span {
  background: none;
}
.container {
  overflow: hidden;
}
.container .content-box {
  float: left;
  width: 630px;
}
.container .content-box .content {
  min-height: 350px;
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 1px 1px 3px #cccccc;
  -moz-box-shadow: 1px 1px 3px #cccccc;
  -webkit-box-shadow: 1px 1px 3px #cccccc;
  margin-bottom: 10px;
}
.container .content-box .content h2.title {
  margin: 0 0 5px;
  padding-bottom: 8px;
  line-height: 14px;
  border-bottom: 2px solid #15a112;
}
.container .content-box .content .categories {
  padding-top: 15px;
  margin-bottom: 10px;
}
.container .content-box .content .categories ul {
  overflow: hidden;
}
.container .content-box .content .categories ul li {
  float: left;
}
.container .content-box .content .categories ul li a {
  text-shadow: 1px 1px 1px #ffffff;
  background-color: #eaeaea;
  display: block;
  font-size: 12px;
  line-height: 12px;
  margin-right: 10px;
  padding: 4px 6px;
}
.container .content-box .content .categories ul li a:hover {
  text-shadow: 1px 1px 1px #999999;
  background-color: #15a112;
  color: #ffffff;
}
.container .content-box .content .categories ul li.current a {
  text-shadow: 0px 0px 0px #ffffff;
  background-color: #15a112;
  color: #ffffff;
}
.container .content-box .content .content-body h3 {
  font-size: 18px;
  margin: 25px 10px 20px;
}
.container .content-box .content .content-body .info {
  background-position: -287px -141px;
  margin-top: 35px;
  background-color: #FFF5CA;
  padding: 14px 0;
  line-height: 12px;
  color: #666;
  padding-left: 45px;
}
.container .content-box .content .content-body .post-body {
  margin: 0 10px;
}
.container .content-box .content .content-body .post-body p,
.container .content-box .content .content-body .post-body ul {
  font-size: 13px;
  line-height: 23px;
  margin-bottom: 30px;
}
.container .content-box .content .content-body .post-body ul {
  margin-left: 20px;
  margin-top: 10px;
}
.container .content-box .content .content-body .post-body ul li {
  margin-bottom: 30px;
  list-style: decimal outside none;
}
.container .content-box .content .content-body .post-body ul li p {
  margin-bottom: 0;
}
.container .content-box .content .content-body .post-body ul li ul {
  margin-left: 20px;
  margin-bottom: 10px;
}
.container .content-box .content .content-body .post-body ul li ul li {
  margin-bottom: 0;
}
.container .content-box .content .content-body .post-body .attachment {
  font-size: 14px;
  border-top: 1px dashed #dcdcdc;
  margin-bottom: 10px;
}
.container .content-box .content .content-body .post-body .attachment h3 {
  color: #4d4d4d;
  margin: 18px 0;
}
.container .content-box .content .content-body .post-body .attachment .download {
  color: #15a112;
  border-bottom: 1px solid #15a112;
  display: inline-block;
}
.container .content-box .content .content-body .post-body .attachment .download a {
  color: #15a112;
}
.container .content-box .content .content-body ul.ticket-list li {
  overflow: hidden;
  padding: 20px 0 14px 10px;
  border-bottom: 1px dashed #dbdbdb;
}
.container .content-box .content .content-body ul.ticket-list li:hover {
  background-color: #f2f2f2;
}
.container .content-box .content .content-body ul.ticket-list li:last-child {
  border-bottom: none;
}
.container .content-box .content .content-body ul.ticket-list li .detail {
  float: left;
}
.container .content-box .content .content-body ul.ticket-list li .detail .title {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 8px;
}
.container .content-box .content .content-body ul.ticket-list li .detail .meta {
  color: #aaa;
}
.container .content-box .content .content-body ul.ticket-list li .detail .meta a {
  color: #aaa;
}
.container .content-box .content .content-body ul.ticket-list li:hover .date {
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  background-color: #ddd;
}
.container .content-box .content .content-body ul.ticket-list li .date {
  margin-right: 10px;
  margin-top: 7px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  float: right;
  background-color: #f4f4f4;
  padding: 4px 16px;
  line-height: 12px;
  font-size: 12px;
}
.container .content-box .content .content-body ul.ticket-list li .date a {
  color: #666;
}
.container .content-box .content .content-body ul.ticket-list li .date:hover {
  background-color: #15a112;
  color: #ffffff;
}
.container .content-box .content .content-body ul.ticket-list li .date:hover a {
  color: #ffffff;
}
.container .content-box .page_navi {
  margin-top: 25px;
  margin-bottom: 8px;
}
.container .content-box .page_navi ul {
  overflow: hidden;
}
.container .content-box .page_navi ul li {
  float: left;
}
.container .content-box .page_navi ul li span {
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  background-color: #ffffff;
  padding: 7px 8px;
  line-height: 12px;
  font-size: 12px;
  border: 1px solid #d7d7d7;
  margin-right: 5px;
  display: block;
}
.container .content-box .page_navi ul li span:hover {
  background-color: #f3f4f6;
  color: #000;
}
.container .content-box .page_navi ul li.current span {
  background-color: #f3f4f6;
  color: #000;
  font-weight: bolder;
}
.container .login-box {
  box-shadow: 1px 1px 3px #cccccc;
  -moz-box-shadow: 1px 1px 3px #cccccc;
  -webkit-box-shadow: 1px 1px 3px #cccccc;
  margin: 10% auto;
  width: 450px;
  background-color: #FFF;
  padding: 20px 15px 30px;
}
.container .login-box h2 {
  font-size: 14px;
  line-height: 14px;
  color: #15a112;
  border-bottom: 2px solid #15a112;
  padding-bottom: 8px;
  margin-bottom: 48px;
}
.container .login-box form .item {
  margin: 0 30px 20px;
  font-size: 14px;
  color: #4d4d4d;
}
.container .login-box form .item input[type="text"],
.container .login-box form .item input[type="password"] {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  width: 270px;
  border: 1px solid #ebebeb;
  height: 14px;
  padding: 9px;
}
.container .login-box form .item input[type="text"]:hover,
.container .login-box form .item input[type="password"]:hover,
.container .login-box form .item input[type="text"]:active,
.container .login-box form .item input[type="password"]:active {
  border: 1px solid #cccccc;
  box-shadow: inset 1px 1px 3px #DDDDDD;
}
.container .login-box form .item input[type="checkbox"] {
  margin-left: 40px;
  margin-top: 10px;
  vertical-align: bottom;
}
.container .login-box form .item input[type="submit"] {
  float: right;
  font-size: 14px;
  color: #ffffff;
  padding: 0 8px;
  height: 30px;
  width: 84px;
  background-color: #15a112;
  border: none;
}
.container .login-box form .item input[type="submit"]:hover {
  background-color: #178315;
}
.container .login-box form .remember {
  font-size: 12px;
  line-height: 12px;
  margin: 30px 60px 0;
  overflow: hidden;
}
.container .login-box form .forget-password {
  margin-left: 15px;
}
.container .sidebar {
  float: right;
  background-color: #FFF;
  width: 256px;
  padding: 20px;
  box-shadow: 1px 1px 3px #cccccc;
  -moz-box-shadow: 1px 1px 3px #cccccc;
  -webkit-box-shadow: 1px 1px 3px #cccccc;
  margin-right: 4px;
}
.container .sidebar h3.title {
  padding-bottom: 8px;
  line-height: 14px;
  border-bottom: 2px solid #15a112;
  margin-bottom: 20px;
}
.container .sidebar ul {
  font-size: 13px;
}
.container .sidebar ul li {
  background-position: -318px -89px;
  line-height: 19px;
  margin: 10px 0;
  padding-left: 10px;
}
.container .sidebar ul li:hover {
  background-position: -318px -105px;
}
.container .sidebar ul li.current a {
  color: #15a112;
}
.footer .copyright {
  margin: 30px 0 49px;
  padding: 9px 20px;
  background-color: #eaeaea;
  text-shadow: 1px 1px 1px #FFFFFF;
}
